{
  margin: 0;
  padding: 0;
  box-sizing: border-box;}
header {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 40px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo img {
  height: 30px;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}
.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.hero {
  padding: 120px 20px 40px;
  background-image: url(photos/CSS\ Advanced/Object.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}
.hero h1 {
  font-size: 60px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0 auto;
  max-width: 90vw;
  white-space: normal;
  word-break: break-word;

}
@media (max-width: 768px) {
  .hero h1 {
    font-size: 36px;
  }
}

@media (max-width: 480px) {
  .hero h1 {
    font-size: 28px;
  }
}
.hero-links {
  display: flex;
  gap: 30px;
  margin: 20px 0;
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  opacity: 0.8;
}
.cta-btn {
  background-color: #C271FF;
  padding: 12px 30px;
  border-radius: 30px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}
.cta-btn:hover {
  background-color: #a44bd8;
}
.testimonials {
  text-align: center;
}
.testimonials h2 {
  font-size: 28px;
  margin-bottom: 40px;
}
.highlight {
  color: #C271FF;
}
.profiles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.profile {
  max-width: 180px;
  text-align: center;
}
.profile img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}
.profile p {
  margin-top: 10px;
  font-size: 14px;
}
.quote{
  background-color: #a44bd8;
  display: flex;
  flex-wrap: wrap;
  
}
